Repository Sigma18Unipd/docs, pull requests merged in 2025-04, with the labels that each got.

#23 Fix alla nomenclatura closes #22
  1-candidatura/letteradipresentazione_1.0.1.typ
Labels: Fix

#28 Stesura Piano di progetto e Relativo Glossario
  .gitignore
  2-RTB/documentidiprogetto/glossario.typ
  2-RTB/documentidiprogetto/pianodiprogetto_1.1.0.typ
  templates/template.typ
  templates/templateGlossario.typ
Labels: Documenti

#31 Verbale interno 16/04/2025 #29
  2-RTB/verbali/interni/vi_20250416_1.0.0.typ
Labels: Verbale Interno

#34 slide e template x diario di bordo 20250428
  0-diaridibordo/rtb/ddb_20250428.typ
  templates/template.typ
  templates/templateGlossario.typ
  templates/templateLettera.typ
  templates/templateSlides.typ
Labels: Template, Documenti

#37 Retrospettiva secondo sprint e inizio terzo sprint
  2-RTB/documentidiprogetto/glossario.typ
  2-RTB/documentidiprogetto/pianodiprogetto_0.3.0.typ
  templates/template.typ
  templates/templateGlossario.typ
Labels: Documenti

#39 stesura verbale interno e aggiornato glossario
  2-RTB/documentidiprogetto/glossario.typ
  2-RTB/verbali/interni/vi_20250429_1.0.0.typ
Labels: Verbale Interno
