Repository Sigma18Unipd/docs, pull requests merged in 2025-07, with the labels that each got.

#112 109 aggiornamento analisi dei requisiti
  2-RTB/documentidiprogetto/analisideirequisiti_1.0.0.typ
  2-RTB/documentidiprogetto/analisideirequisiti_1.2.0.typ
  assets/usecasediagrams/1,2,3,4,5.svg
  assets/usecasediagrams/16,17,18.svg
  assets/usecasediagrams/19.svg
  assets/usecasediagrams/2,5,6,7,8,9.svg
  assets/usecasediagrams/34,35,36,37,38.svg
  assets/usecasediagrams/5,10,11.svg
  assets/usecasediagrams/5,11,20.svg
  assets/usecasediagrams/5,12,13,14,15.svg
  assets/usecasediagrams/5,21,22,23.svg
  assets/usecasediagrams/5,24,25,26,27.svg
  assets/usecasediagrams/5,28,29,30,31,32,33.svg
  assets/usecasediagrams/5,39,40,41,42,43,44.svg
  assets/usecasediagrams/5,45,46.svg
  assets/usecasediagrams/5,47,48,49.svg
  assets/usecasediagrams/5,7,8,52.svg
  assets/usecasediagrams/50.svg
  assets/usecasediagrams/51.svg
  assets/usecasediagrams/53.svg
  assets/usecasediagrams/54.svg
  assets/usecasediagrams/55.svg
  assets/usecasediagrams/56.svg
  assets/usecasediagrams/UC_14.png
  assets/usecasediagrams/UC_15.png
  assets/usecasediagrams/UC_1_2_3_4.png
  assets/usecasediagrams/UC_28.png
  assets/usecasediagrams/UC_29.png
  assets/usecasediagrams/UC_2_4_5_6_7_8.png
  assets/usecasediagrams/UC_4_10_16.png
  assets/usecasediagrams/UC_4_11_12.png
  assets/usecasediagrams/UC_4_13.png
  assets/usecasediagrams/UC_4_17.png
  assets/usecasediagrams/UC_4_18.png
  assets/usecasediagrams/UC_4_19_20.png
  assets/usecasediagrams/UC_4_21.png
  assets/usecasediagrams/UC_4_22_23_24.png
  assets/usecasediagrams/UC_4_25_26.png
  assets/usecasediagrams/UC_4_6_7_27.png
  assets/usecasediagrams/UC_4_9_10.png
Labels: Documenti, Fix

#113 111 aggiornamento pdq
  2-RTB/documentidiprogetto/normediprogetto_1.0.0.typ
  2-RTB/documentidiprogetto/pianodiprogetto_1.0.1.typ
  2-RTB/documentidiprogetto/pianodiqualifica_1.0.0.typ
  assets/chart/AC_ETC_EAC_chart.svg
  assets/chart/CPI_chart.svg
Labels: Documenti

#120 Create vi_20250722_1.0.0.typ
  2-RTB/verbali/interni/vi_20250722_1.0.0.typ
Labels: Verbale Interno, Documenti

#123 115 aggiornamento piano di qualifica ottavo sprint
  2-RTB/documentidiprogetto/normediprogetto_1.0.0.typ
  2-RTB/documentidiprogetto/pianodiqualifica_1.1.0.typ
  assets/chart/AC_ETC_EAC_chart.svg
  assets/chart/CO_chart.svg
  assets/chart/CPI_chart.svg
  assets/chart/CV_SV_chart.svg
  assets/chart/EAC_chart.svg
  assets/chart/ET_chart.svg
  assets/chart/PV_EV_chart.svg
  assets/chart/RSI_chart.svg
  assets/chart/SQM_chart.svg
Labels: Documenti
